body {
    background: #f5f5f5;
    color: #333;
    font-family: "Ubuntu Condensed";
    min-width: 100%;
}

a:hover {
    color: black !important;
}

main {
    min-height: 70vh;
}
.header-home{
    background-image: linear-gradient(to right, rgba(255, 204, 224), rgba(153, 230, 255), rgba(255, 217, 179));
}
header {
    min-width: 100%;
    /*border-bottom: 3px solid #a5c6d1;*/
    
    z-index: 2;
}

.headerBottomLine{

 border-bottom: 1em solid #cbcccc;
 

}

footer {
    flex-shrink: 0;
    
    z-index: 2;
    color : #9b9b9b;
    
    min-height : 100px;

}

nav {

    /*border-bottom: 3px solid #a5c6d1;*/
}

.Jicon {
    border-radius: 15%;
    background-color: rgb(35, 106, 124);
    color: white;
    position: relative;
    font-size: 1em;
    top: 0.3em;
}
.Home {
    font-size: 16px;
    height: 2.6em;
}
.Home:hover {
    background-color: #000000;
}
.vertical-video {
    
    height: 50% !important;
    max-height: 50% !important;
}
.horizontal-video {
    max-width: 50%;
}
/*progess bars*/
.font-progress{
  height:2.8em;
  font-size:0.8em;  
}
.P38{
    width:38%;
}
.P41{
    width:41%;
}
.P50{
    width:50%;
}
.P60{
    width:60%;
}
.P70{
    width:70%;
}
.P75{
    width:75%;
}
.P85{
    width:85%;
}
/*-----------------------------------------------------*/



/*-------------------------------------*/
/*---------   MEDIA      --------------*/
/*-------------------------------------*/
@media (min-width:576px) {
    .logo{
        width:30%!important;
    }
}

@media (min-width:768px) {
    
    header {
        top: 0px;
        left: 0px;
    }
    .logo{
        width:50%!important;
    }

}

@media (min-width:992px) {
    header {
        
        top: 0px;
        left: 0px;
    }
    .trombi{
        width:75%;
    }

}